@font-face {
  font-family: ZenMaru;
  src: url('/fonts/ZenMaruGothic-Regular.ttf');
}

@font-face {
  font-family: FiraCode;
  src: url('/fonts/FiraCode.ttf');
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: ZenMaru;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(197, 239, 255);
}

a {
  color: rgb(0, 76, 126);
}