---
import RootLayout from "../layout/RootLayout.astro";
import IndexUI from "../components/OrderUI/IndexUI.svelte";
---

<RootLayout>
  <p>商品一覧の編集は<a href="/productList/">こちら</a></p>
  <IndexUI client:only />
</RootLayout>