---
import RootLayout from "../layout/RootLayout.astro";
---

<RootLayout>
  <p>商品一覧の編集は<a href="/productList/">こちら</a></p>
  <p>店舗側の画面は<a href="/receiveOrder/">こちら</a></p>
  <p>注文の作成は<a href="/makeOrder/">こちら</a></p>
</RootLayout>