---
import RootLayout from "../layout/RootLayout.astro";
import OrderList from "../components/OrderUI/OrderList.svelte";
---

<RootLayout>
  <p>商品一覧の編集は<a href="/productList/">こちら</a></p>
  <p>店舗側の画面は<a href="/receiveOrder/">こちら</a></p>
  <OrderList client:load />
</RootLayout>