---
import RootLayout from "../layout/RootLayout.astro";

import SetNickname from '../components/AccountUI/SetNickname.svelte';
---

<RootLayout
  title="ログイン完了 | SF TENANT APP"
>
  <div>
    <h2>Log In Completed!</h2>
    <p>ログインが完了しました．</p>

    <h3>What to Do</h3>
    <h4>表示名を設定</h4>
    <SetNickname client:load />
    <a href='/account/'>他のアカウント設定はこちら</a>
  </div>
</RootLayout>