---
import RootLayout from "../layout/RootLayout.astro";
import StoreUI from '../components/OrderUI/StoreUI.svelte';
---

<RootLayout
  title="店舗用UI | SF TENANT APP"
>
  <h1>店舗側UI</h1>
  <StoreUI client:load />
</RootLayout>