---

---

<footer>
  <p>SF TENANT APP</p>
  <p>ソースコードは<a href="https://github.com/wing-0902/SF-TENANT_food">こちら</a>です．</p>
  <p>編集・メンテが必要な場合，<a href="mailto:tsubasa@me.wing.osaka">tsubasa@me.wing.osaka</a>までご連絡ください．</p>
</footer>

<style lang="scss">
  footer {
    text-align: center;
    border-top: 1px solid black;
  }
</style>