---
import AccountOnHeader from '../AccountUI/AccountOnHeader.svelte';
---

<header>
  <a href='/'>SF FOOD TENANT APP</a>
  <AccountOnHeader client:load />
</header>

<style lang="scss">
  header {
    display: flex;
    background-color: skyblue;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    a {
      font-size: 25px;
    }
  }
</style>