---
import AccountOnHeader from '../AccountUI/AccountOnHeader.svelte';
---

<header>
  <a href='/'>SF FOOD TENANT APP</a>
  <AccountOnHeader client:load />
</header>

<style lang="scss">
  header {
    display: flex;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    padding: 2px 10px;
    box-shadow: 0 1px 6px;
    background-color: skyblue;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    a {
      font-size: 25px;
    }
  }
</style>