---
import { ClientRouter } from 'astro:transitions';
import Header from '../components/LayoutUI/Header.astro';
import Footer from '../components/LayoutUI/Footer.astro';
import '../styles/globals.scss';

interface Props {
  title?: string;
}

const {
  title='SF TENANT APP'
} = Astro.props;
---


<!doctype HTML>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <ClientRouter />
	</head>
	<body>
    <Header />
    <div class="slotSlot">
		  <slot />
    </div>
    <Footer />
	</body>
</html>

<style lang="scss">
  body {
    margin: 0;
    padding: 0;
  }

  .slotSlot {
    margin: 100px 30px 20px;
  }
</style>